body{
    color:#ffff;
}
section{
    text-align: center;
    height:80vh;
}

.teamLogo1{
    margin: 30px 0px;
    width:280px;
    height:280px;
}
.playerNames1{
    font-size:23px;
}